---
---

@import "{{ site.theme }}";

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding: 0 0 0 1em;
}
